<!--ici la vue de remplissage du nouveau mot de passe-->
<ion-view class="title text-center" view-title="Nouveau mot de passe" ng-controller="EnregistrePasswordCtrl">


  <ion-content>

    <div class="padding" style="margin-top: 40%">
      <form name ="formu" class="list" ng-submit="enregistre_password()">

        <label class="item item-input" id="enleve_bordure">
          <input type="password" name="password" ng-model="data.password" placeholder="Nouveau mot de passe" required>
        </label>

        <label class="item item-input" id="enleve_bordure_deux">
          <input type="password" name="password_confirm" ng-model="data.password_confirm" placeholder="Confirmation" required>
        </label>


        <div class=""><button class="button button-block button-positive button-flat">Valider</button></div>
      </form>
      <div class="row" style="padding-top: 10%">
        <div class="col"></div>
        <div class="col-90 text-center" style="color: red">
          <p ng-show="formu.password.$touched && formu.password.$invalid">* Le mot de passe est requis</p>
          <!--<p ng-show="code_valide">{{"code_invalide" | translate}}</p>-->
        </div>
        <div class="col"></div>
      </div>
    </div>

  </ion-content>
</ion-view>
