
  <ion-popover-view class="customTrans" style="height: 20%; width: 50%">
    <ion-content scroll="false" ng-controller="ConnexionCtrl">
      <div class="list">
        <!--<a class="item" ng-click="popover.hide()"  ui-sref="bar_update.modifie_info_user()" target="_blank">
          {{"modifier_compte" | translate}}
        </a>-->
        <!--<a class="item" ng-click="modifi_info()" target="_blank">
          {{"modifier_compte" | translate}}
        </a>-->
        <a class="item" ng-click="fermer_popover()" target="_blank">
          {{"deconnexion" | translate}}
        </a>
      </div>
    </ion-content>
  </ion-popover-view>
